@import "./mixins.scss";
@import "./variables.scss";

.container__main {
  @include flexProp(column, 2rem, flex-start, center);
  font-family: "poppins", sans-serif;
  text-transform: capitalize;

  .lessons_section {
    @include flexProp(row, 2rem, space-between, flex-start);
    padding: 3rem 6rem;

    .sort_list_wrapper {
      @include flexProp(column, 0rem, flex-start, flex-start);
      width: 75%;
    }
  }
}
