@mixin flexProp($direction, $gap, $justification, $alignment) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justification;
  align-items: $alignment;
  width: 100%;
}

@mixin ButtonProp {
  @include flexProp(row, 0.5rem, center, center);
  font-family: "poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  padding: 0.8rem 1.3rem;
  width: 6rem;
  border: none;
  text-transform: capitalize;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:active {
    scale: 0.99;
  }
}

@mixin LoaderProp {
  width: 100%;
  border-radius: 5px;
  background-color: rgba($color: $gray-text, $alpha: 0.2);
}

@mixin LoaderOverlayProp {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  &::before {
    content: "";
    height: 100%;
    width: 2rem;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    animation: shineSlide 0.7s ease infinite;
    filter: blur(30px);
  }
}

@keyframes shineSlide {
  to {
    left: 110%;
  }
}
