@import "./mixins.scss";
@import "./variables.scss";

.container {
  @include flexProp(column, 2rem, flex-start, flex-start);
  width: 21rem;

  .title {
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  .form_wrapper {
    @include flexProp(column, 1.5rem, flex-start, flex-start);

    .name_wrapper {
      @include flexProp(row, 1rem, space-between, center);

      .input_label {
        @include InputLabels;
      }
    }

    .input_label {
      @include InputLabels;
    }

    .submit_btn {
      @include ButtonProp;
      background-color: $text2;
      width: 100%;
      border-radius: 5px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 1rem;
    }
  }
}
