$text1: #000000;
$text2: #fb9c46;
$green1: #058e6e;
$green2: #407f55;
$orange-gradient1: #f1c365;
$orange-gradient2: #f6ae54;
$orange-gradient3: #ff922f;
$yellow: #f2bf62;
$gray-separator: #c4c4c4;
$gray-text: #6c6c6c;
$circle-base: #f0d9ca;
$gray-text2: #979797;
$white: #fff;
