@import "./mixins.scss";
@import "./variables.scss";

.container__main {
  @include flexProp(row, 0rem, space-between, flex-start);
  padding: 4rem 6rem;

  .text {
    font-family: "poppins", sans-serif;
    font-size: 1rem;
    @include flexProp(column, 2rem, flex-start, flex-start);
    width: 55%;

    .heading {
      font-size: 2.5rem;
      letter-spacing: 1px;

      span {
        color: $text2;
      }
    }

    .desc {
      color: $gray-text;
      line-height: 1.8rem;
      width: 90%;
    }

    .cards_wrapper {
      @include flexProp(column, 1.8rem, flex-start, flex-start);
      width: 90%;
    }
  }

  .media {
    @include flexProp(row, 0rem, center, center);
    width: 45%;
    height: 37rem;

    .video_wrapper {
      @include flexProp(row, 0rem, center, center);
      width: auto;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 0 30px rgba($color: $gray-text, $alpha: 0.5);
    }
  }
}

@media screen and (max-width: 22.5rem) {
  .container__main {
    flex-direction: column;
    padding: 2rem;

    .text {
      width: 100%;
      font-size: 0.9rem;
      gap: 2rem;

      .heading {
        font-size: 2rem;
      }

      .desc {
        width: 100%;
        font-size: 0.9rem;
        line-height: 1.5rem;
      }

      .cards_wrapper {
        width: 100%;
      }
    }

    .media {
      width: 100%;
      height: 25rem;
      margin-top: 2rem;
    }
  }
}
